body {
	font-family: 'Roboto', sans-serif;
}
.us {
	position: relative;
	justify-content: centerx;
	border: 1px solid grey;
}
.us img {
}
.usspend {
	position: absolute;
	width: 85%;
	top: 12.5%;
	left: 9%
}
h2, p{
	margin: 0;
	padding: 0;
}
#usa {
	position: absolute;
	color: #942C61;
	top: 20%;
	left: 15%;
	}
.countrytext {
	font-size: 1.5rem;
}
.smallScreen {
	display: none;
}
@media only screen and (max-width: 480px){
	.us {
		display: none;
	}
	.smallScreen {
		display: block;
	}
	.west {
		position: relative;
		width: 100%;
		padding-top: 60px;
	}
	#usRing {
	    position: absolute;
	    width: 60%;
		top: 15%;
		left: 0%;		
	}
	#usSmall {
		position: absolute;
		top: 35%;
		left: 8%;
	}
	.east {
		position: relative;
		width: 100%;
		
	}
	#otherRings {
		position: absolute;
		width: 60%;
		top: 24%;
		left: 23%;
	}
	#russiaSmall {
		position: absolute;
		top: 32%;
		left: 8%;
	}
	#chinaSmall {
		position: absolute;
		top: 50%;
		left: 35%;
	}
	#skoreaSmall {
		position: absolute;
		top: 65%;
		left: 45%;
	}
	#japanSmall {
		position: absolute;
		top: 45%;
		left: 74%;
	}
	#nkoreaSmall {
		position: absolute;
		top: 15%;
		left: 65%;
	}
	.fixme {
		position: fixed;
		z-index: 10;
	}
	button {
		height: 50px;
	}
}
@media only screen and (max-width: 700px) and (min-width: 480px){
	.countrytext {
		font-size: 1.0rem;
	}
	
}


